/* html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
} */

body {
  background-color: #c5c3c6 !important;
}

#react-flow {
  margin-top: 30px !important;
}
.btn-primary {
  background-color: #1985a1 !important;
  border-color: #4c5c68 !important;
}

.btn-outline-primary {
  background-color: #dcdcdd !important;
  color: #46494c !important;
  border-color: #4c5c68 !important;
}

.icon {
  color: #46494c;
}

.icon:hover {
  color: #1985a1;
  font-weight: 800;
}
