/* html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
} */

body {
  background-color: #fff4ec !important;
}

#react-flow {
  margin-top: 30px !important;
}
.btn-primary {
  background-color: #ff784f !important;
  border-color: #28151c !important;
  color: #28151c !important;
}

.btn-outline-primary {
  background-color: #bccddc !important;
  color: #28151c !important;
  border-color: #28151c !important;
}

.icon {
  color: #28151c;
  font-size: 1.1em;
}

.icon:hover {
  color: #ff784f;
  font-weight: 800;
}
